.grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 23rem;
    width: 38rem;
    justify-items: center;
    justify-content: flex-start;
}

.form {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.validationError{
    color: red;
    font-weight: bold;
}