<!DOCTYPE html>
<html lang="PT-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Taco Cloud</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>
  <body>
    <form method="POST" th:action="@{/orders}" th:object="${tacoOrder}">
      <h1>Finalize seu pedido:</h1>
      <img th:src="@{/images/TacoCloud.png}"/>
      <h3>Seus tacos:</h3>
      <a th:href="@{/design}" id="another">Montar outro</a><br/>
      <ul>
        <li th:each="taco : ${tacoOrder.tacosOrdered}">
          <span th:text="${taco.name}">Nomde do taco.</span><br/>
        </li>
      </ul>
      <br>
      <div class="form">
        <span class="validationError" th:if="${#fields.hasErrors()}">Preencha os campos obrigatórios.</span>
        <h3>Endereço de entrega:</h3>
        <label for="deliveryName">Nome: </label>
        <input type="text" th:field="*{deliveryName}"/>
        <span class="validationError" th:if="${#fields.hasErrors('deliveryName')}" th:errors="*{deliveryName}">Erro de nome.</span>
        <br/>
        <label for="deliveryStreet">Endereço: </label>
        <input type="text" th:field="*{deliveryStreet}"/>
        <span class="validationError" th:if="${#fields.hasErrors('deliveryStreet')}" th:errors="*{deliveryStreet}">Erro de endereço.</span>
        <br/>
        <label for="deliveryCity">Cidade: </label>
        <input type="text" th:field="*{deliveryCity}"/>
        <span class="validationError" th:if="${#fields.hasErrors('deliveryCity')}" th:errors="*{deliveryCity}">Erro de cidade</span>
        <br/>
        <label for="deliveryState">Estado: </label>
        <input type="text" th:field="*{deliveryState}"/>
        <span class="validationError" th:if="${#fields.hasErrors('deliveryState')}" th:errors="*{deliveryState}">Erro de estado</span>
        <br/>
        <label for="deliveryZip">CEP: </label>
        <input type="text" th:field="*{deliveryZip}"/>
        <span class="validationError" th:if="${#fields.hasErrors('deliveryZip')}" th:errors="*{deliveryZip}">Erro de CEP.</span>
        <br/>

        <h3>Forma de pagamento:</h3>
        <label for="ccNumber">Cartão de crédito #: </label>
        <input type="text" th:field="*{ccNumber}"/>
        <span class="validationError" th:if="${#fields.hasErrors('ccNumber')}" th:errors="*{ccNumber}">Erro de número do cartão.</span>
        <br/>
        <label for="ccExpiration">Validade: </label>
        <input type="text" th:field="*{ccExpiration}"/>
        <span class="validationError" th:if="${#fields.hasErrors('ccExpiration')}" th:errors="*{ccExpiration}">Erro de validade.</span>
        <br/>
        <label for="CVV">CVV: </label>
        <input type="text" th:field="*{CVV}"/>
        <span class="validationError" th:if="${#fields.hasErrors('CVV')}" th:errors="*{CVV}">Erro de CVV.</span>
        <br/>
      </div>

      <input type="submit" value="Submit Order"/>
  </form>
  </body>
</html>